<div class="jumbotron" style="margin-top:40px; background-color:#f3e8d6;
-webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);">

    <h1 class="display-4" style="color: rgb(92, 87, 81);" >Hello, {{name}}!</h1>
    <p class="lead" style="color: rgb(92, 87, 81);"> Welcome back</p>
    <hr class="my-4" >
    <p style="color: rgb(92, 87, 81);">Have fun making new friends</p>
    <a class="btn btn-primary btn-lg" style="background-color: #e68c80; border-color: #ecddc6;" href="#" role="button" (click)="logout()">Log Out</a>
  </div>